    /*GENERAL SETTINGS*/

/*ne yazıyosa onu kullanmak önemli*/
@import url('../fonts/raleway/stylesheet.css');
/*ikisi de olur*/
@font-face{
    font-family: 'myriad';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}

body{
    background: #fff;
    color: #3f3f3f;
    font:14px / 28px arial;
    font-family: ralewayregular;
}
h1{
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.section_header{
    background: #550d16;
    border-bottom: 6px solid #000;
    height: 60px;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
h3{
    font-size: 16px;
    color: #500d16;
    transition: all .5s ease;
}
.section_area{
    padding: 80px 0;
}

    /*GRID SETTINGS*/
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.features_body .container , .engine_body .container{
    justify-content: space-between;
}
.col3{
    flex-grow: 1;
    width: 33.33%;
}
.col2{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}
header .logo{
    margin-right: auto;
}
header .logo img{
    height: 82px;
    display: block;
}
header menu{
    float: right;
}
.menu li{
    float: left;
}
.menu li a{
    padding: 27px 17px;
    display: block;
    letter-spacing: 2px;
    color: #333;
    transition: all 500ms ease;
}
.menu li a:hover{
    background: #500d16;
    color: #fff;
}

#main_slider{
    height: 500px;
    background: url('../images/car5.jpg') center center no-repeat;
    background-size: cover;
}
.slider{
    width: 100%;
}
#main_caption{
    height: 500px;
    background: rgba(0, 0, 0, .5);
}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}
.features_top{
    text-align: center;
}
.item{
    padding: 10px 20px;
}
.zoom{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.zoom img{
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}
.item .item_text{
    text-align: center;
    padding: 5px;
    border: 1px solid #500d16;
    transition: all .5s ease;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.item:hover .zoom img{
    transform: scale(1.25);
}
.item:hover h3{
    color: #fff;
}
.item:hover .item_text{
    color: #fff;
    background-color: #500d16;
}
.btn_details{
    color: #500d16;
    padding: 5px 10px;
    border:1px solid #500d16;
    transition: all .5s ease;
}
.item:hover .btn_details{
    color: #fff;
    border: 1px solid #fff;
}
.item_text p{
    margin: 20px;
}
#parallax{
    background: linear-gradient(
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .7)
            ),
            url('../images/parallax.jpg');

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#parallax p{
    color: #fff;
}
.engine_top{
    text-align: center;
}
.engine_container{
    position: relative;
    width: 100%;
}
.image_over{
    display: block;
    width: 100%;
    height: auto;
}
.engine_overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.engine_container:hover .engine_overlay{
    width: 100%;
}
.engine_text{
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.engine_overlay2{
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.engine_container:hover .engine_overlay2{
    width: 100%;
    left: 0;
}
footer{
    background: #500d16;
    text-align: center;
}
.footer_item{
    padding: 20px;
}
.footer_item img{
    height: 50px;
    opacity: .5;
}
footer h3{
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
footer .fa{
    font-size: 30px;
    color: #95a5a6;
    line-height: 50px;
    transition: .3s ease;
}
footer .fa:hover{
    color: #fff;
}
footer p{
    color: #95a5a6;
    line-height: 20px;
}
.footer_links a{
    color: #95a5a6;
    letter-spacing: 2px;
    transition: .3s ease;   
}
.footer_links a:hover{
    color: #fff;
    text-decoration: underline;
}
.social_links li{
    display: inline-block;
    width: 50px;
    height: 50px;
}
    /*CAR SETTINGS*/
#cars_slider{
    height: 250px;
    background: url('../images/car8.jpg') center center no-repeat;
    background-size: cover;
}
#cars_caption{
    height: 250px;
    background: rgba(0, 0, 0, .7);
}
#inspect{
    background-color: #f5f5f5;
}
.inspect_top{
    text-align: center;
}
.inspect_body .col2{
    display: flex;
}
.inspect_image{
    width: 40%;
}
.inspect_image img{
    width: 100%;
}
.inspect_text{
    width: 60%;
    padding-left: 10px;
}
.date{
    color: #333;
    font-size: 12px;
    font-style: italic;
}
h4{
    color: #500d16;
    font-size: 14px;
    font-weight: bold;
}
.inspect_text a{
    float: right;
    color: #550d16;
}
.inspect_text a:hover{
    text-decoration: underline;
}
.projectx_top{
    text-align: center;
}
#projectx .container_fluid{
    height: 500px;
    background: url('../images/car8.jpg') center center no-repeat;
    background-size: cover;
}
.captionpx{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
}
.projectx_info{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5%;
    padding-right: 5%;
}
.projectx_title{
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.projectx_btn{
    background-color: #500d16;
    color: #fff;
    padding: 20px 40px;
    margin-top: 20px;
    transition:all .5s ease;
    cursor:pointer;
}
.projectx_btn:hover{
    color: #500d16;
    background-color: #fff;
}
.projectx_text{
    color: #fff;
}
#projectx_highlight{
    display: inline-block;
    background-color: #500d16;
    padding: 30px;
}
.container_fluid .col2{
    padding: 0;
}
.projectx_detail{
    color:#fff; 
}
    /*ABOUT SETTINGS*/
#about_slider{
    height: 250px;
    background: url('../images/car8.jpg') center center no-repeat;
    background-size: cover;
}
#about_caption{
    height: 250px;
    background: rgba(0, 0, 0, .7);
}
#history{
    background-color: #f5f5f5;
}
.history_top{
    text-align: center;
}
.history_body .container_fluid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.history_body .col2{
    display: flex;
}
.history_date{
    flex: 1;
    text-align: center;
    background-color: #500d16;
    color: #fff;
}
.history_date p{
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.history_image{
    flex: 2;
}
.history_image img{
    width: 100%;
    height: 100%;
}
.history_text{
    flex: 3;
    margin-left: 10px;
}
.history_text p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.team_top{
    text-align: center;
}
.team_body .container_fluid{
    display: flex;
    width: 100%;
}
.team_member{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.team_member img{
    display: block;
    width: 100%;
    height: 100%;
}
.team_member_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #500d16;
    transition: .5s ease;
}
.team_title{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.team_member_info{
    color: #500d16;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    transition: all .5s ease;
}
.team_member:hover .team_member_overlay{
    opacity: 0;
}
.team_member:hover .team_member_info{
    color: #fff;
    font-size: 20px;
    background-color: rgba(80, 13, 22, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.member_social_links{
    text-align: center;
}
.member_social_links li{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.member_social_links li .fa{
    color: #fff;
}
    /*CONTACT SETTINGS*/
#contact_slider{
    height: 250px;
    background: url('../images/car5.jpg') center center no-repeat;
    background-size: cover;
}
#contact_caption{
    height: 250px;
    background: rgba(0, 0, 0, .7);
}
#gallery{
    background-color: #f5f5f5;
}
.gallery_top{
    text-align: center;
}
.gallery_slider{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.gallery_slider_item{
    width: 300%;
    position: relative;
    left: 0;
    -webkit-animation: slide_animation 20s infinite;
}
.gallery_slider_item img{
    width: 33.33%;
    float: left;
    height: auto;
}
@-webkit-keyframes slide_animation{
    0% {left: 0;}
    25% {left: -100%;}
    50% {left: -200%;}
    75% {left: -100%;}
    100% {left: 0;}
}
.contact_top{
    text-align: center;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.contact_form{
    margin: 0 auto;
    width: 60%;
}
.form_item{
    margin-bottom: 10px;
    width: 100%;
}
.form_shape{
    color: #fff;
    float: left;
    background-color: #500d16;
    padding: 8px;
    width: 8%;
    text-align: center;
}
.form_field{
    color: #fff;
    background-color: #500d16;
    border: none;
    padding: 15.5px;
    width: 92%;
    display: block;
    font-size: 14px;
}
.form_btn{
    display: block;
    border: none;
    background-color: #500d16;
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
}
.form_btn:hover{
    background-color: #841916;
}
    /*  MEDIA QUERİES*/
@media screen and (max-width: 960px){
    
    .caption h1{
        font-size: 32px;
        letter-spacing: 2px;
    }

    footer .fa{
        font-size: 24px;
    }

    footer h3{
        font-size: 16px;
    }

    .inspect_body .container{
        flex-direction: column;
    }

    .inspect_body .container .col2{
        width: 100%;
    }

    .history_body .col2{
        flex-direction: column;
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }

}

@media screen and (max-width: 720px){
    
    header .container{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    header .logo{
        margin: 0 auto;
    }

    .caption h1{
        font-size: 28px;
        letter-spacing: 2px;
    }

    .features_body .container{
        flex-direction: column;
    }

    .features_body .container .col3{
        width: 80%;
        margin: 0 auto;
    }

    .engine_body .container{
        flex-direction: column;
    }

    .engine_body .container .col2{
        width: 80%;
        padding-right: 0;
        padding-left: 0;
        margin:0 auto;
    }

    footer .container{
        flex-direction: column;
    }

        footer .container .col3{
        width: 100%;
    }

    .section_header{
        font-size: 22px;
    }

    .inspect_body .container .col2{
        padding-left: 0;
        padding-right: 0;
    }

    .team_member_info{
        font-size: 14px;
        padding: 10px;
    }

    .team_title{
        font-size: 18px;
    }

    .form_shape{
        display: none;
    }

}

@media screen and (max-width: 540px){

    .caption h1{
        font-size: 20px;
        letter-spacing: 0;
    }

    .features_body .container .col3{
        width: 100%;
    }

    .engine_body .container .col2{
        width: 100%;
    }

    .section_header{
        font-size: 20px;
    }

    .contact_form{
        width: 80%;
    }

}





















